In [2]:
'''Q.1 Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].'''

years_list = [1998, 1999, 2001, 2002, 2003, 2004]

In [3]:
'''Q.2 In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.'''

third_birthday = years_list[2]
print('Third birthday year :', third_birthday)

Third birthday year : 2001

In [4]:
'''Q.3.In the years list, which year were you the oldest?'''

oldest_year = years_list[-1]
print('Oldest year :', oldest_year)

Oldest year : 2004

In [5]:
'''Q.4 Make a list called things with these three strings as elements: 'mozzarella', 'cinderella', 'salmonella'.'''

things = ['mozzarella', 'cinderella', 'salmonella']
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [11]:
'''Q.5 Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?'''

things_cap = []
for i in things:
    things_cap.append(i.upper())
things_cap

only change lower case to upper case.

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [12]:
'''Q.6 Make a surprise list with the elements 'Groucho' ,'Chico' and 'Harpo' '''

suprise = ['Groucho', 'Chico', 'Harpo'] 
suprise

['Groucho', 'Chico', 'Harpo']

In [17]:
'''Q.7 Lowercase the last element of the surprise list, reverse it, and then capitalize it.'''

lower_surprise = [x.lower() for x in suprise]
print('surprise list in lower formet : ', lower_surprise)

reverse_list = lower_surprise[::-1]
print('reverse of surprise list : ', reverse_list)

reverse_cap_list = [x.upper() for x in reverse_list]
print('reverse and capital of surprise list : ', reverse_cap_list)

surprise list in lower formet :  ['groucho', 'chico', 'harpo']
reverse of surprise list :  ['harpo', 'chico', 'groucho']
reverse and capital of surprise list :  ['HARPO', 'CHICO', 'GROUCHO']

In [18]:
'''Q.8 Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.'''

e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [19]:
'''Q.9 Write the French word for walrus in your three-word dictionary e2f.'''

e2f['walrus']

'morse'

In [25]:
'''Q.10 Make a French-to-English dictionary called f2e from e2f. Use the items method.'''

f2e = dict((key, value) for value, key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [26]:
'''Q.10 Print the English version of the French word chien using f2e.'''

f2e['chien']

'dog'

In [28]:
'''Q.11 Make and print a set of English words from the keys in e2f.'''

set(x for x in e2f.keys())

{'cat', 'dog', 'walrus'}

In [29]:
'''Q.12 Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'.
Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer
to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.Make all the other keys refer to empty dictionaries.'''

life = {'animals':{'cat':['henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''}, 'plants':'', 'others':''}
life

{'animals': {'cat': ['henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'others': ''}

In [33]:
'''Q.14 Print the top-level keys of life.'''

life.keys()

dict_keys(['animals', 'plants', 'others'])

In [35]:
'''Q.15 Print the keys for life['animals'].'''

life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [40]:
'''Q.16 Print the values for life['animals']['cats']'''

life['animals']['cat']

['henri', 'Grumpy', 'Lucy']